
<html>
<head>

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
  <!-- <link rel="stylesheet" href="leaflet-areaselect/src/leaflet-areaselect.css" /> -->
  <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="../custom.css" rel="stylesheet">


</head>

<body>

  <div class="header">
    <h1> Object Detection in Satellite Imagery</h1>
  </div>

  <div class="row">
    <div class=" text-splash">

    <h3>About the Tool </h3>
    <p> Flask app demonstrating the application of Keras neural network for object recognition. Keras model was trained on
      Planet's <a href="kaggle.com/rhammell/ships-in-satellite-imagery">shipsnet</a> dataset, consisting of 2800 80x80 RGB labeled images.<p>

        <ul>
			<li>View on GitHub: <a href="https://github.com/mmidzik/shipsnet">New Maps Plus</a></li>
			<li>Read about a different approach: <a href="https://medium.com/the-downlinq/setting-a-foundation-for-machine-learning-datasets-and-labeling-9733ec48a592">from CosmiQ's blog</a></li>
		</ul>
    <h3>To use </h3>
    <ol> 1. Toggle to a specific month in the map (Left) and pan to desired location in the SF Bay</ol>
    <ol> 2. Click 'Run Model' and wait for modeled image to render </ol>


    </div>
  </div>



  <div class = 'row' id = 'images'>

    <div class= 'col-md-6'>
      <div id ='step'>
      </div>
      <div id = 'map'>
      </div>
    </div>

    <div class= 'col-md-6 text-center'>
      <a id='output' class="btn btn-primary btn-link mb-2 "  > Run Model</a>
      <img  id = 'badge' src="../images/buf-save.png" alt="Model Results">
    </div>



  </div>








</body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- <script src="leaflet-areaselect/src/leaflet-areaselect.js"></script> -->
  <script src='../leaflet-image.js'></script>
  <script>L_PREFER_CANVAS = true;</script>



  <script>

    //create map and center

    var options = {
    center: [37.748034, -122.332245], // lat/lon values
    zoom: 14,
    zoomControl: false,
    }

    var map = L.map('map', options);

    L.control.zoom({
     position:'bottomleft'
    }).addTo(map);

    //create basemap

    var tiles = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '<a href="https://api.planet.com">Planet</a>',
        subdomains: 'abcd',
    }).addTo(map);


    //add planet mosaic tiles
    var planet_layer_jan = L.tileLayer('https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2016_04_mosaic/gmap/{z}/{x}/{y}.png?api_key=d7e6156e45014df093e4c7db2978ba55',
    {
      maxZoom: 30
    })
    var planet_layer_feb = L.tileLayer('https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2016_09_mosaic/gmap/{z}/{x}/{y}.png?api_key=d7e6156e45014df093e4c7db2978ba55',
    {
      maxZoom: 30
    })
    var planet_layer_march = L.tileLayer('https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2017_03_mosaic/gmap/{z}/{x}/{y}.png?api_key=d7e6156e45014df093e4c7db2978ba55',
    {
      maxZoom: 30
    })
    var planet_layer_april = L.tileLayer('https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2017_04_mosaic/gmap/{z}/{x}/{y}.png?api_key=d7e6156e45014df093e4c7db2978ba55',
    {
      maxZoom: 30
    })
    var planet_layer_may = L.tileLayer('https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2017_05_mosaic/gmap/{z}/{x}/{y}.png?api_key=d7e6156e45014df093e4c7db2978ba55',
    {
      maxZoom: 30
    })


    map.addLayer(planet_layer_april,planet_layer_may);

    //add layer toggle

    var baseMaps = {
    "Jan":planet_layer_jan,
    "Feb": planet_layer_feb,
    "March": planet_layer_march,
    "April": planet_layer_april,
    "May": planet_layer_may,
    };

    L.control.layers(baseMaps, null,{collapsed:false}).addTo(map);


    //counter for file names
    var tag = 1

    $('#output').on('click', function(e){
       e.preventDefault();

       tag+=1

       //leaflet library to export leaflet as image
       leafletImage(map, doImage)

       var img_data
       function doImage(err, canvas) {
           var img = document.createElement('img');
           var dimensions = map.getSize();
           img.width = dimensions.x;
           img.height = dimensions.y;
           img.src = canvas.toDataURL();
           //this outputs a base64 png
           img_data = img.src


        var image = 'buf-save'+tag+'.png'
        $.ajax({
          type: 'post',
          //local keras api (application.py)
          //FLASK_DEBUG=1 FLASK_APP=application.py flask run
          url: 'http://127.0.0.1:5000/predict',
          //send png and image tag to keras api
          data: {'data':img_data, 'tag':tag},

          success: function() {

            function changeimg(ele) {
              //load new image from model into image space
              image_path = '../images/'+image
              console.log(image_path)
              ele.src=image_path;
            }
            var div = document.getElementById('badge');
            changeimg(div)
          }

        })

      }
    });





  </script>
</body>
